.box {display:flex;justify-content:center;align-items:center;width:150px;height:100px;margin:10px;font-size:24px;font-weight:bold;color:#fff;border-radius:10px;}

.box1 {background:tomato;animation:movemove 2s;animation-fill-mode:forwards;}

@keyframes movemove {
    0%   {width:150px;}
    100% {width:300px;}
}







